# Node.js
node_modules/
.env
*.log
openapi.json

# VSCode
.vscode/

# Test and coverage
coverage/
__tests__/
__mocks__/
*.test.js
test.js

# Build artifacts
build/
dist/
tools/

# OS files
.DS_Store
Thumbs.db

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OpenAPI and generator
src/openapi/
src/generator/
